# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# eclipse things

.plist
.project
.cproject
.settings

# plugin-specific

Follower/Intermediate-llvm/
Follower/panel.svg.2020_08_24_16_16_44.0.svg
Follower/Panel_Front_1U.xcf

*.plist

Follower/GUI/

QUEG/GUI/

QUEG/Intermediate-llvm/

Debug/

.metadata/

DirtyLFO/GUI/

DirtyLFO/Intermediate-llvm/
